<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ofrecemos soluciones integrales en seguridad: CCTV, control de acceso, alarmas, detección de incendios y proyectos arquitectónicos profesionales.">
    <link rel="icon" type="image/webp" href="static/img/logo-arcontec.webp">
    <title>Instalación de CCTV y Sistemas de Seguridad inteligentes | Arcontec</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Arcontec</title>
</head>
<body>
    <div class="contacto-fijo">
        <a href="https://wa.me/+595971789884">
            <i class="fa-brands fa-whatsapp" style="color: #04e10f;"></i>
        </a>
    </div>
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/">
                    <h1 class="logo">Arcon<span>tec</span></h1>
                    <p>Arquitectura, Construcción y Tecnología</p>
                </a>
                
                <nav class="navegacion">
                    <a href="/#servicios">Servicios</a>
                    <a href="/#proyectos">Proyectos</a>
                    <a href="/#nosotros">Nosotros</a>
                    <a href="/#clientes">Clientes</a>
                    <a href="/contacto" class="boton-azul">Contactar</a>
                </nav>

                <div class="menu-hamburguesa">
                    <a href="#"><i class="fa-solid fa-bars" style="color: #1F5889;"></i></a>
                </div>

            </div>
        </div>
        {% if current_path == '/' %}
            <div class="banner-portada">
                <div class="contenedor texto-banner">
                    <h2>Tecnología y Seguridad</h2>
                    <p>Soluciones Para tu Hogar y Empresa</p>
                    <a href="/contacto" class="boton-celeste">Solicitar Cotización</a>
                </div>
                <div class="banner-blur"></div>
            </div>
        {% endif %}
    </header>

        {% block content %}

        {% endblock %}

    <footer class="footer seccion">
        <div class="contenedor contenido-footer">
            <div>
                <h3>ARCONTEC</h3>
                <div class="icono-redes">
                    <a href=""><i class="fa-brands fa-facebook" style="color: #838080;"></i></a>
                    <a href="https://www.instagram.com/casegur_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-instagram" style="color: #8c8c8c;"></i></a>
                    <a href="https://wa.me/+595971789884"><i class="fa-brands fa-whatsapp" style="color: #8a8a8a;"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin" style="color: #89898b;"></i></a>
                </div>
            </div>
            <nav class="navegacion">
                <a href="/#servicios">Servicios</a>
                <a href="/#proyectos">Proyectos</a>
                <a href="/#nosotros">Nosotros</a>
                <a href="/#clientes">Clientes</a>
                <a href="/contacto" class="boton-azul">Contactar</a>
            </nav>
        </div>
        <p class="footer__parrafo">Arcontec, Soluciones de Arquitectura Contrucción y Tecnología</p>
    </footer>

    <script src="{{ url_for('static', filename='js/bundle.min.js') }}"></script>
</body>
</html>    