@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer{
    /*background: linear-gradient(to right, v.$fondoPrincipal, v.$fondoTercero);*/
    background-color: v.$fondoTercero;
    padding: calc(v.$separacion / 2) 0;
    margin-bottom: 0;

    h3{
        margin: 0;
        font-size: 2rem;
        text-align: start;
        color: #e2e2e2;;
    }

    .contenido-footer{
        padding-top: calc(v.$separacion  / 2);
        display: flex;
        justify-content: space-between;

        .navegacion{
            visibility: visible;
            opacity: 1;
            width: 50rem;
            height: auto;
        }

        .icono-redes{
            display: flex;
            justify-content: space-between;
            min-width: 2rem;
        }
    }

    .footer__parrafo{
        text-align: center;
        margin-bottom: 0;
        font-size: 1.5rem;
        color: #e2e2e2;;
    }
}

.phone{
    font-size: 1.5rem;
    color: v.$blanco;
}